{% extends "base.html" %}

{% block head %}
<title>Route Master</title>
{% endblock %}

{% block content %}

{% include "map.html" %}

<div class="flex-container">
    <div>
        {% if routes|length < 1 %}
        <h4 style="text-align: center">There are no routes. Create one!</h4>
        {% else %}
        <table>
            <tr>
                <th>Route</th>
                <th>Started</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            {% for route in routes %}
            <tr>
                <td>{{ route.name }}</td>
                <td>{{ route.date_created.date() }}</td>
                <td>{{ route.status }}</td>
                <td>
                    <a href="/delete/{{route.id}}">Delete</a>
                    <br>
                    <a href="/update/{{route.id}}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    <div class="form">
        <form action="/" method="POST">
            <!--<input type="text" name="content" id="content">-->
            <!--<input type="submit" value="Add Route">-->

            <fieldset>
                <legend>Add new route:</legend>
                Name: <input type="text" name="name"> <br>
                Begin: <input type="text" name="begin"> <br>
                End: <input type="text" name="end"><br>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}
